/*html, body {
  margin: 0;
  padding: 10px;
  background: black;
  color:chartreuse;
  font-size: large;
  text-align: center;
  justify-content: center;
  font-family: monospace
}
 */

html, body {
  height: 100%;
}

body {
  padding: 0%;
    margin: 0;
    color: #66FF00;
    background-color: black;
    font-size: large;
    text-align: center;
    font-family: monospace; 
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically.  
  align-items: center;*/
}
